*pdf
*csv
*copy*
.ipynb_checkpoints
__pycache__
ipynb
.env
.vscode
gloesspy3_old.py
astropy_ls_fourier_comparison.ipynb
testing.ipynb
gloess_fourier.ipynb
AA_Ser_gloess_in.h5
bad_references_list.txt
combine_gloess_files.py
filter_wavelengths.csv
gloess_clean.py
